<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
  <title>Dataportal</title>
  <link rel="icon" href="https://dataportal-data.s3-ap-southeast-2.amazonaws.com/static/images/favicon-32x32.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <a href="https://icons8.com/icon/41615/search"></a>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
  
<style>

  
.annotator {
  text-decoration: none;
  color:#6A76AB;
  font-family: verdana;
  font-size: 90%;
}

.text-green input {
    color: #35B4CF !important;
}

.tag-input span.v-chip {
  color: #6A76AB;
}

.gridPurple {
    background-color:#6A76AB;
    color: white;
}

.grey {
    background-color:#e6e6e6;
    color: white;
}

.full-screen-modal-dialog {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
}

.modal-dialog {
  max-width: 80% !important;
}

.btn {
    background-color: white !important;
    color: #6A76AB;
    outline-color:#6A76AB;
}

.navbar {
    background-color: white !important;
}

</style>

</head>

<body>
  <div id="app">
    <v-app>

      <template>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{{ url_for('home.home') }}">
                <img
                    src="https://dataportal-data.s3-ap-southeast-2.amazonaws.com/static/images/test_logo.PNG"
                    alt="sm4_logo"
                    width="120"
                >
            </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <p style="color: #A81C84;">{{ user }}</p>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
            </ul>

            <form class="form-inline my-2 my-lg-0"
                enctype="multipart/form-data"
                action="{{ url_for('admin.admin') }}"
                id="loginForm" 
                method="POST"
            >
                <v-btn tile color="#A81C84" class="white--text"><input method="POST" id="submit3" type="submit" value="ADMIN"></v-btn>
            </v-form>

            <ul class="navbar-nav mr-auto">
            </ul>
  
            <form class="form-inline my-2 my-lg-0"
                enctype="multipart/form-data"
                action="{{ url_for('api_login.api_logout') }}"
                id="loginForm" 
                method="POST"
            >
                <v-btn tile color="#A81C84" class="white--text"><input method="POST" id="submit3" type="submit" value="LOGOUT"></v-btn>
            </v-form>

          </div>
        </nav>

        <br>
        <br>
        <br>
        

        {% block content %} 
        
        {% endblock %}

        <br>
        <br>
        <br>

        <v-footer
          color="#A81C84"
          app
        >
          <span class="white--text">Stemformatics | Dataportal | 2020</span>
        </v-footer>

    </template>

  </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>

    var vm = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ['[[',']]'],  // Change to '[[ ]]' otherwise the standard vue.js template '{}' parenthesis will interfere with flasks jinja templates. 
      data:{
        selected_dataset: null,
        transferAnnotatorResponse: null,
        newAnnotator: null,
        showTransferDialog: false,
        showRemoveDialog: false,
        unAssignAnnotatorResponse: null,
        assignedAnnotatorDialog: false,
        selectedAnnotatorRow: null,
        dialog: false,
        headers: [
          { text: 'Annotator', value: 'annotator'},
          { text: 'Title', value: 'title'},
          { text: 'Dataset ID', value: 'dataset_id'},
        ],
        assignedRows: [],
        editedIndex: -1,
        editedItem: {
          name: '',
          calories: 0,
          fat: 0,
          carbs: 0,
          protein: 0,
        },
        assignedDatasets: null,
        newUser: {
          username: '',
          password: '',
          verifyPassword: '',
          role: '',
        },
        update: {
        //   oldPassword: '',
          username: '',
          password: '',
          verifyPassword: '',
          role: '',
        },
        roles: ["annotator", "admin"],
        clicked: null,
        updateDialog: false,
        addUserDialog: false,
        columnDefs: [
            { "text": "USER", "value": "email", "field": "email" },
            { "text": "ACCESS", "value": "role", "field": "role" }, 
        ], 
        rowData: [], 
      },
      methods: {
        transferAnnotator: function(){

          this.showTransferDialog = true;
          var annotator = this.newAnnotator;

          axios.post('/transferAnnotator', {"data": {"annotator": annotator, "dataset_id": this.selected_dataset}})
          .then(result => this.transferAnnotatorResponse = result.data);

          location.reload();

        },
        editItem (item) {
          this.editedIndex = this.assignedRows.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.dialog = true
        },

        deleteItem (item) {
          const index = this.assignedRows.indexOf(item)
          confirm('Are you sure you want to delete this item?') && this.assignedRows.splice(index, 1)
        },
        close () {
          this.dialog = false
          this.$nextTick(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
          })
        },
        save () {
          if (this.editedIndex > -1) {
            Object.assign(this.assignedRows[this.editedIndex], this.editedItem)
          } else {
            this.assignedRows.push(this.editedItem)
          }
          this.close()
        },
        updateUser: function(){
            if(this.update.password === this.update.verifyPassword){
              axios.post("/user_update", {"data": this.update})
              .then(function(result){
                  if(result.status = 200){
                      console.log("Update complete")
                      alert("User updated")
                      location.reload();
                  }
                  else {
                      console.log("Update failed")
                      alert("User update failed")
                      location.reload();
                  }
              });
              this.update = {
                  username: '',
                  password: '',
                  verifyPassword: '',
                  role: '',
              };
              this.updateDialog = false;
              axios.post("/api/get_all_users")
              .then(result => this.rowData = result.data.users.map(function(item){
                  return item;
              }))
              location.reload();
            }
            else {
              alert("Passwords do not match!")
            }
        },
        deleteUser: function(){
          var r=confirm("Are you sure you want to delete this user?");
            if (r==true)
              {
                axios.post("/delete_user", {"data": this.update})
                .then(function(result){
                  console.log(result.data)
                  location.reload();
                })
              }
            else
              {
                location.reload();
              }
        },
        addUser: function(){
          if(this.newUser.email != '' && this.newUser.password != ''){
            axios.post("/add_user", {"data": this.newUser})
            .then(function(result){
              console.log(result.data)
              location.reload();
            })
          }
          else {
            alert("Blank values")
          }
        },
        cancelAddUser: function(){
            this.newUser = {
                username: '',
                password: '',
                verifyPassword: '',
                role: '',
            };
            this.addUserDialog = false;
        },
        cancel: function(){
            this.update = {
                username: '',
                password: '',
                verifyPassword: '',
                role: '',
            };
            this.updateDialog = false;
        },
        handleClick: function(event){
            this.update.username = event.email;
            this.updateDialog = true;
            this.clicked = event;
        },
        datasetRowHandleClick: function(item){
          this.selected_dataset = item.dataset_id;
          this.assignedAnnotatorDialog = true;
          this.selectedAnnotatorRow = item;

        },
        removeAnnotator: function(){

          const dataset_id = this.selectedAnnotatorRow.dataset_id;
          const title = this.selectedAnnotatorRow.title;
          const annotator = this.selectedAnnotatorRow.annotator;
        
          axios.post('/unAssignAnnotator', {"data": {"dataset_id": dataset_id, "title": title, "annotator": annotator}})
          .then(result => this.unAssignAnnotatorResponse = result.data);

          location.reload();
        },
      },
      computed: {
        formTitle () {
          return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
        },
      },
      watch: {
        dialog (val) {
          val || this.close()
        },
      },
      mounted(){


        axios.post("/api/get_all_users")
        .then(result => this.rowData = result.data.users.map(function(item){
            return item;
        }))

        axios.post("/api/get_assigned_datasets")
        .then(result => this.assignedRows = result.data.assigned_datasets.map(function(item){

          var dataset_id = item['dataset_id']
          var annotator = item['annotator']
          var title = item['title'].replace(/[^a-zA-Z0-9]+/g, " ")

          obj = {
            'dataset_id': dataset_id,
            'annotator': annotator,
            'title': title
          }

          return obj;
          
        }));

      }


    })
  </script>

</body>
</html>

